.checkout {
    display: flex;
    margin: 20px auto;
}

.checkout-info {
    padding-left: 20px;
}

.checkout-rating-stars {
    margin: auto -2px;
}

.checkout-button {
    /* background: #f1d58e #F0C14B; */
    background: linear-gradient(#ffa60052, #ffa600af);
    margin-top: 10px;
    padding: 7.5px 25px;

    color: #111111;
    border: .75px solid;
    border-color: #A88734 #9C7E31 #846A29;
    border-radius: 2.5px;

    font-size: 12px;
}

.checkout-image {
    object-fit: contain;
    height: 180px;
    width: 180px;
}

.checkout-rating {
    display: flex;
} 

.checkout-title {
    font-size: 17px;
    font-weight: 800;
}
