.checkout-product {
    display: flex;
    margin: 20px auto;
}

.checkout-product-info {
    padding-left: 20px;
}

.checkout-product-rating-stars {
    margin: auto -2px;
}

.checkout-product-button {
    background: linear-gradient(#FFA50050, #FFA500AA);
    margin-top: 10px;
    padding: 7.5px 25px;

    color: #111111;
    font-size: 12px;
    font-weight: 800;
    
    border: .75px solid;
    border-color: #A88734 #9C7E31 #846A29;
    border-radius: 2.5px;
}

.checkout-product-button:hover {
    background: linear-gradient(#FFA50065, #FFA500CC)
}

.checkout-product-image {
    object-fit: contain;
    height: 180px;
    width: 180px;
}

.checkout-product-rating {
    display: flex;
} 

.checkout-product-title {
    font-size: 17px;
    font-weight: 800;
}
