.footer-link-to-top {
    background-color: #35455c;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;

    font-size: small;
    font-weight: 500;
    color: #FFFFFF;
}

.footer-link-to-top:hover {
    cursor: pointer;
    background-color: #465363;
}

.footer-1 {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 40px;
    
    background-color: #26313f;
    color: #FFFFFF;
}

.footer-1-row {
    margin: 0 30px;
}

.footer-1-header {
    font-size: 16px;
    font-weight: 800;

    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer-1-link {
    font-size: 13px;
    font-weight: 700;

    color: #DDDDDD;
    margin: 7px 0;
}

.footer-2 {
    background-color: #26313f;
    border-top: 2px solid #324258;
}

.footer-logo {
    width: 90px;
    object-fit: contain;
    margin: 40px;               /* DELETE THIS LATER */
}

.footer-3 {
    background-color: #131921;
    height: 250px;
}