.footer-link-to-top {
    background-color: #35455c;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;

    font-size: small;
    font-weight: 500;
    color: #FFFFFF;
}

.footer-link-to-top:hover {
    cursor: pointer;
    background-color: #465363;
}

.footer-1 {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 40px;
    
    background-color: #26313f;
    color: #FFFFFF;
}

.footer-1-row {
    margin: 0 30px;
}

.footer-1-header {
    font-size: 16px;
    font-weight: 800;

    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer-1-link {
    font-size: 13px;
    font-weight: 700;

    color: #DDDDDD;
    margin: 7px 0;
}

.footer-1-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-2 {
    display: flex;
    justify-content: center;
    padding: 30px 0 15px 0;
    
    color: #DDDDDD;
    background-color: #26313f;
    border-top: 2px solid #324258;
}

.footer-2-logo {
    width: 90px;
    object-fit: contain;
    margin-right: 75px;
}

.footer-2-language-selection {
    position: relative;
    bottom: 8px;

    margin-right: 7px;
    padding: 0 5px 5px 5px;
    
    border: 1px solid #BBBBBB;
    border-radius: 5px;
}

.footer-2-globe {
    font-size: 20px;
    margin-right: 5px;
}

.footer-2-arrow {
    font-size: 12px;
    color: #BBBBBB;

    margin-left: 20px;
    margin-right: 5px;
}

.footer-2-country-selection {
    position: relative;
    bottom: 8px;
    
    padding: 5px 25px 5px 5px;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
}

.footer-2-flag {
    width: 20px;
    margin: 0 5px 0 5px;
    position: relative;
    bottom: 2.5px;
}

.footer-3 {
    background-color: #131921;
    padding: 40px 75px 40px 125px;
}

.footer-3-link:hover *{
    text-decoration: underline;
    cursor: pointer;
}

.footer-3-heading {
    color: #DDDDDD;
    font-size: 11px;
    font-weight: 700;
}

.footer-3-content {
    color: #999999;
    font-size: 10px;
    margin-bottom: 20px;
    width: 100px;
}
