.login {
    background-color: #FFFFFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    margin: 20px auto;
    object-fit: contain;
    width: 100px;
}

.login-container {
    /* display: flex;
    flex-direction: column; */
    
    height: fit-content;
    width: 450px;
    padding: 20px;

    background-color: #FFFFFF;
    border: 2px solid #D3D3D3;
    border-radius: 5px;
}

.login-container > h1 {
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.login-container > form > h5 {
    margin-bottom: 5px;
}

.login-container > form > input {
    background-color: rgb(236, 245, 248);
    height: 30px;
    width: 98%;
    margin-bottom: 20px;

    border: 1px solid #b8b8b8;
    border-radius: 5px;
}

.login-container > form > input:focus {
    outline: none;
    box-shadow: 0 0 1pt 1pt #FFA500;
}

.login-container > p {
    margin-top: 15px;
    font-size: 12px;
}

.login-btn {
    background: linear-gradient(#FFA50050, #FFA500AA);
    
    color: #111111;
    font-size: 12px;
    font-weight: 600;
    
    width: 40%;
    height: 30px;
    margin-top: 10px;

    border: .75px solid;
    border-radius: 2.5px;
    border-color: #a88734 #9c7e31 #846a29;
}

.login-btn:hover {
    background: linear-gradient(#FFA50065, #FFA500CC)
}

.register {
    width: 450px;
}

.register-header {
    display: flex;
    margin-top: 25px;
    margin-bottom: -15px;
}

.register-header-hr {
    flex-grow: 1;
    position: relative;
    bottom: 6px;
}

.register-header-text {
    color: #808080;
    margin: 0 10px;
    font-size: 12px;
}

.login-register-btn {
    /* background: linear-gradient(#ffa60052, #ffa600af); */
    background: linear-gradient(#FFFFFF, #DDDDDD);

    font-size: 14px;
    
    width: 450px;
    height: 30px;
    margin-top: 10px;

    border: 2px solid #BBBBBB;
    border-radius: 2.5px;
}
