.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 10px;
}

.navbar-search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.navbar-search-input {
    height: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 100%;
}

.navbar-search-icon {
    padding: 6px;
    height: 22px;
    border-radius: 0 5px 5px 0;
    /* background-color: #CD9042; */
    background-color: #FFA500;
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0 15px;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: #FFFFFF;
}

.navbar-links-line-1 {
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: -4px;
}

.navbar-links-line-2 {
    font-size: 15px;
    font-weight: 700;
}

.navbar-cart {
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.navbar-cart-icon {
    height: 35px;
}    

.navbar-cart-text {
    margin-top: 16px;
    margin-left: -2px;
}

.navbar-cart-count {
    font-size: 20px;
    font-weight: 700;
    color: #FFA500;
    /* width: 1px; */

    position: relative;
    right: 52.5px;
    bottom: 5px;
}
