.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100px;
    width: 300px;
    padding: 20px;

    background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

.subtotal-gift {
    display: flex;
    align-items: center;
}

.subtotal-gift > input {
    margin-right: 5px;
}

.subtotal-button {
    /* background: #f1d58e #F0C14B; */
    background: linear-gradient(#ffa60052, #ffa600af);
    margin-top: 10px;
    padding: 7.5px 25px;

    color: #111111;
    border: .75px solid;
    border-color: #A88734 #9C7E31 #846A29;
    border-radius: 2.5px;

    font-size: 12px;
}
